<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport role="navigation" mode="side" opened="true">
    <mat-divider></mat-divider>
    <!-- </mat-list> -->
    <mat-nav-list class="user-info">
      <h3 mat-subheader>Menu</h3>
      <a mat-list-item routerLink="/admin/dashboard">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item routerLink="/admin/crud-user">
        <mat-icon mat-list-icon>person</mat-icon>
        Users
      </a>
      <a mat-list-item routerLink="/admin/crud-car">
        <mat-icon mat-list-icon>directions_car</mat-icon>
        Cars
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon mat-list-icon>logout</mat-icon>
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span (click)="drawer.toggle()">angular-auth</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
